# Скопируй этот файл в .env и заполни своими данными!

BOT_TOKEN=your_bot_token_here
GROUP_ID=-100xxxxxxxxxx
SPAM_LIMIT=3

API_ID=your_api_id
API_HASH=your_api_hash
PHONE=+7xxxxxxxxxx
SESSION_STRING=your_session_string_here